@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;700;900&display=swap');

html{
  direction: rtl;
  font-family: "Cairo" !important;
}

#mainDiv{
  display: flex;
  justify-content: center;
  width: 100vw;
}
